VITE_BACKEND_ADDRESS=https://address_to_backend:zzzz
VITE_CUBE_ADDRESS=https://address_to_cubejs:zzzz
VITE_CHATSERVER=https://address_to_chat_server
VITE_CHATSOCKET=https://address_to_chat_server_socket
VITE_ENABLE_BIOKAASUKLINIKKA=false
VITE_USE_PAYMENT=false